@model CategoryViewModel


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Category</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked tree">

            @foreach (var item in Model.Categories)
            {
                <li><a asp-action="Index" asp-controller="Store" asp-route-Category="@item.Name" asp-route-Color="@Model.Paging.Color" asp-route-MinPrice="@Model.Paging.MinPrice" asp-route-MaxPrice="@Model.Paging.MaxPrice">@item.Name</a></li>
            }

            <li><a asp-action="Index" asp-controller="Store"  asp-route-Color="@Model.Paging.Color" asp-route-MinPrice="@Model.Paging.MinPrice" asp-route-MaxPrice="@Model.Paging.MaxPrice">Dont' know</a></li>

        </ul>
    </div>
</div>